@import '../../styles/variables.sass'

body
  padding: 12px $GRID-COLUMN-SIZE

.header
  width: 100%
  display: inline-flex
  justify-content: space-between

  .header_menu
    display: inline-flex
    width: 24px

.title
  margin: 0
  margin-top: 12px
  font-size: $H1-FONT-SIZE
  font-weight: $H1-FONT-WEIGHT

.div_buttons
  margin: 8px 0 16px 0
  width: 100%
  height: 32px
  display: inline-flex
  align-items: center
  justify-content: space-between

.create_button
  width: fit-content
  height: 32px
  display: inline-flex
  align-items: center
  gap: 8px
  padding: 8px 16px
  outline: 1.5px solid $COLOR-PRIMARY-BLACK80

  .create_button_text
    font-family: $FONT-FAMILY
    font-size: $TEXT-FONT-SIZE
    font-weight: $TEXT-FONT-WEIGHT
    text-align: center

.create_button:hover
  background-color: $COLOR-PRIMARY-WHITE
  outline: 1.5px solid $COLOR-BLUE